---

- name: "{{ id }}.check"
  shell: |
    DEF_MSGWAIT={{ expected[id] }}
    result_msgwait=${DEF_MSGWAIT}
    sbdarray=$(grep -E '^SBD_DEVICE=' /etc/sysconfig/sbd  | grep -oP 'SBD_DEVICE=\K[^.]+' | sed 's/\"//g')
    IFS=';' sbdarray=( $sbdarray )
    for i in "${sbdarray[@]}"
    do
      msgwait=$(/usr/sbin/sbd -d ${i} dump | grep -oP 'Timeout \(msgwait\)  *: \K\d+')|| echo ""
      if [[ "${msgwait}" -ne "${DEF_MSGWAIT}" ]]; then
        result_msgwait="${msgwait}"
      fi
    done
    echo $result_msgwait
  register: config_updated
  check_mode: no
  changed_when: config_updated.stdout != expected[id]

- block:
    - import_role:
        name: post-results
  when:
    - ansible_check_mode
  vars:
    status: "{{ config_updated is not changed }}"
