---

- name: "{{ id }}.check"
  lineinfile:
    path: /etc/sysconfig/sbd
    regexp: '^SBD_PACEMAKER='
    line: 'SBD_PACEMAKER={{ expected[id] }}'
  register: config_updated
  when:
    - ansible_check_mode

- block:
    - import_role:
        name: post-results
  when:
    - ansible_check_mode
  vars:
    status: "{{ config_updated is not changed }}"
