[Unit]
Description=Trento Runner
Requires=consul.service
After=consul.service

[Service]
ExecStart=/srv/trento/trento runner start
Type=simple
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
