[Unit]
Description=Trento agent service
Requires=consul.service
After=consul.service

[Service]
ExecStart=/usr/bin/trento agent start
Type=simple
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
