{{ define "content" }}
    <div class="row">
        <div class="col">
            <h1>Checks catalog</h1>
        </div>
        <div class="col text-right">
            <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
            <span id="last_update" class="text-nowrap text-muted">
                    Not available
                </span>
        </div>
    </div>
    <hr class="margin-10px"/>
    <div class="checks-catalog">
        {{- range $groupIndex, $group := .ChecksCatalog }}
        <div class="check-group" id="check-group-{{ $groupIndex }}">
            <h4>{{ .Group }}</h4>
            <div class="table-responsive">
                <table class="table eos-table">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 5%">Test ID</th>
                        <th scope="col" style="width: 95%">Description</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range .Checks }}
                        <tr class="check-row" id="{{ .ID }}">
                            <td class="align-top">{{ .ID }}</td>
                            <td class="align-top">
                                {{ $premiumBadge := "" }}
                                {{- if .Premium }}{{ $premiumBadge = " <span class=\"badge badge-trento-premium\">Premium</span>" }}{{- end }}
                                <div class="check-description">{{ markdown (print .Description $premiumBadge) }}</div>
                                <div class="check-remediation collapse" id="collapse-{{ .ID }}">
                                    {{ markdown (.Remediation) }}
                                    <h2>Implementation</h2>
                                    <pre>{{ .Implementation }}</pre>
                                </div>
                            </td>

                            <td class="align-top text-center">
                                <a class="link-dark" type="button"
                                   data-toggle="collapse"
                                   href="#collapse-{{ .ID }}"
                                   aria-expanded="false"
                                   aria-controls="collapse-{{ .ID }}"
                                   title="Details">
                                    <i class='eos-icons eos-18'>info</i>
                                </a>
                            </td>
                        </tr>
                    {{- else }}
                        {{ template "empty_table_body" 4}}
                    {{- end }}
                    </tbody>
                </table>
            </div>
        </div>
        {{- end }}
    </div>
    {{ script "catalog_anchors.js" }}
{{ end }}
