{{ define "additional_scripts" }}
    <script src="/static/frontend/assets/js/tables.js"></script>
    <script src="/static/frontend/assets/js/tags.js"></script>
{{ end }}
{{ define "content" }}
    <div class="row">
        <div class="col">
            <h1>Pacemaker Clusters</h1>
        </div>
        <div class="col text-right">
            <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
            <span id="last_update" class="text-nowrap text-muted">
                    Not available
                </span>
        </div>
    </div>
    <hr class="margin-10px"/>
    {{ template "health_container" .HealthContainer }}
    <h5>Filters</h5>
    <div class="horizontal-container tn-filters">
        <script>
          $(document).ready(function () {
            {{- range $Key, $Value := .AppliedFilters }}
            $("[name='{{ $Key }}']").selectpicker("val", {{ $Value }});
            {{- end }}
          });
        </script>
        {{ template "health_filter" }}
        <select name="name" class="selectpicker" multiple
                data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true"
                title="Cluster name">
            {{- range .filterClusterNames }}
                <option value="{{ . }}">{{ . }}</option>
            {{- end}}
        </select>
        <select name="sids" class="selectpicker" multiple
                data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true" title="SID">
            {{- range .FilterSIDs }}
                <option value="{{ . }}">{{ . }}</option>
            {{- end }}
        </select>
        <select name="cluster_type" class="selectpicker" multiple
                data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true"
                title="Cluster type">
            {{- range .FilterClusterTypes }}
                <option value="{{ . }}">{{ . }}</option>
            {{- end}}
        </select>
        <select name="tags" id="tags_filter" class="selectpicker" multiple
                data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true"
                title="Tags">
            {{- range .FilterTags }}
                <option value="{{ . }}">{{ . }}</option>
            {{- end}}
        </select>
    </div>
    {{ template "clusters_table" .ClustersTable }}
    {{ template "pagination" .Pagination }}
{{ end }}
