{{ define "content" }}
    {{ template "alerts" .Alerts }}
    <h1>Pacemaker Cluster details <span id="cluster-settings-button"></span></h1>
    <div class="row">
        <div class="col">
            <h6>
                <a href="/clusters">Pacemaker Clusters</a> > {{ .Cluster.Name }}
            </h6>
        </div>
        <div class="col text-right">
            <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
            <span id="last_update" class="text-nowrap text-muted">
                Not available
            </span>
        </div>
    </div>
    <div class="border-bottom border-top mb-4">
        <div class="row">
            <div class="col-sm-9 border-right">
                <div class="row mt-5 mb-5">
                    <div class="col-3">
                        <strong>Cluster name:</strong><br>
                        <span class="text-muted">{{ .Cluster.Name }}</span>
                    </div>
                    <div class="col-3">
                        <strong>Cluster type:</strong><br>
                        <span class="text-muted">{{ .Cluster.ClusterType }}</span>
                    </div>
                    <div class="col-6">
                        <strong>HANA system replication mode:</strong><br>
                        <span class="text-muted">{{ .Cluster.Details.SystemReplicationMode }}</span>
                    </div>

                    <div class="col-3 mt-5">
                        <strong>SID:</strong><br>
                        <span class="text-muted">{{ index .Cluster.SIDs 0 }}</span>
                    </div>
                    <div class="col-3 mt-5">
                        <strong>SAPHanaSR health state:</strong><br>
                        {{- if eq .Cluster.Details.SRHealthState  "4" }}
                            <i class="eos-icons eos-18 text-success">fiber_manual_record</i>
                            <span class="text-muted">{{ .Cluster.Details.SRHealthState }}</span>
                        {{- else  if or (eq .Cluster.Details.SRHealthState "2") (eq .Cluster.Details.SRHealthState "3")  }}
                            <i class="eos-icons eos-18 text-warning">fiber_manual_record</i>
                            <span class="text-muted">{{.Cluster.Details.SRHealthState }}</span>
                        {{- else  if or (eq .Cluster.Details.SRHealthState "1")  }}
                            <i class="eos-icons eos-18 text-danger">fiber_manual_record</i>
                            <span class="text-muted">{{ .Cluster.Details.SRHealthState }}</span>
                        {{- else }}
                            -
                        {{- end}}
                    </div>
                    <div class="col-6 mt-5">
                        <strong>HANA secondary sync state:</strong><br>
                        {{ $badgeClass := "badge-primary" }}
                        {{- if eq .Cluster.Details.SecondarySyncState "SFAIL" }}
                            {{ $badgeClass =  "badge-danger" }}
                        {{- end }}
                        <span class="badge badge-pill {{ $badgeClass }} ml-0">{{ .Cluster.Details.SecondarySyncState }}</span>
                    </div>
                    <div class="col-3 mt-5">
                        <strong>Fencing type:</strong><br>
                        <span class="text-muted">{{ .Cluster.Details.FencingType }}</span>
                    </div>
                    <div class="col-3 mt-5">
                        <strong>CIB last written:</strong><br>
                        <span class="text-muted">{{ .Cluster.Details.CIBLastWritten.Format "Jan 02, 2006 15:04:05 UTC"  }}</span>
                    </div>
                    <div class="col-6 mt-5">
                        <strong>HANA system replication operation mode:</strong><br>
                        <span class="text-muted">{{ .Cluster.Details.SystemReplicationOperationMode }}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="mt-3">
                    {{ template "health_container" .HealthContainer }}
                </div>
                <button class="btn btn-secondary btn-sm" data-toggle="modal"
                        data-target="#checks-result-modal">
                    Show check results
                </button>
            </div>
        </div>
    </div>

    <h4>Stopped resources</h4>
    <div class="row mt-4 mb-4">
        <div class="col-xl-12">
            {{- range .Cluster.Details.StoppedResources }}
                <span class="badge badge-pill badge-secondary ml-0">{{ .ID }}</span>
            {{- else }}
                <p class="text-muted">No stopped resources</p>
            {{- end}}
        </div>
    </div>

    <h3>Pacemaker Site details</h3>
    <div class="row mt-4">
        <div class="col-xl-12">
            {{ template "sites" .Cluster.Details.Nodes.GroupBySite }}
        </div>
    </div>
    <hr>
    
    {{- if .Cluster.Details.SBDDevices }}
        <h3>SBD/Fencing</h3>
        {{ template "sbd" .Cluster.Details.SBDDevices }}
    {{- end }}

    {{- range .Cluster.Details.Nodes }}
        {{ template "node_modal" . }}
    {{- end}}
    {{ template "cluster_checks_result_modal" . }}

    {{ script "check_results.js" }}
    {{ script "cluster_check_settings.js" }}
{{- end }}
