{{- /*gotype: github.com/trento-project/trento/web.HomeData*/ -}}
{{ define "content" }}
    <iframe src="http://13.80.125.120:3000/d-solo/EcC4JDFWz2/sap-hana?orgId=1&from=1643904448250&to=1643908048250&theme=light&panelId=14" width="450" height="200" frameborder="0"></iframe>
    <iframe src="http://13.80.125.120:3000/d-solo/EcC4JDFWz2/sap-hana?orgId=1&from=1643905586399&to=1643909186399&theme=light&panelId=16" width="450" height="200" frameborder="0"></iframe>
{{ end }}
