{{ define "content" }}
<div class="col">
    <h1>Environments</h1>
    <dl>
        {{ range .Environments }}
        <dt><span class="environment-name">{{ .Name }}</span></dt>
        <dd>
            <ul class="list-inline">
            {{ range .Nodes }}
                <li class="list-inline-item"><span class="node-name">{{ .Node }}</span></li>
            {{ end }}
            </ul>
        </dd>
        {{ end }}
    </dl>
</div>
{{ end }}
