{{ define "content" }}
    <div class="col">
        <h1>Ooops</h1>
        <p class="lead">Something went wrong!</p>
    </div>
{{ end }}
{{ define "errors" }}
    <div class="alert alert-global alert-danger">
        <i class="eos-icons eos-18">error</i>
        <div class="alert-body">
            <div class="alert-global-desktop">An unexpected error has occurred. Please try again later.</div>
            <div class="alert-global-mobile">An unexpected error has occurred.</div>
        </div>
    </div>
{{ end }}
