{{ define "content" }}
<div class="col">
    <h1><a href="/environments">Environments</a> > <a href="/environments/{{ .NodeName }}">{{ .NodeName }}</a> > {{ .CheckID }}</h1>

    <h4>{{ .CheckContent.Description  }}</h4>
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
                <tr>
                    <th scope='col'>Test section</th>
                    <th scope='col'>Test number</th>
                    <th scope='col'>Description</th>
                    <th scope='col'>Information</th>
                    <th scope='col'>Status</th>
                </tr>
            </thead>
            <tbody>
                {{- range .CheckContent.Groups }}
                {{- $Section := .ID }}
                {{- range .Checks }}
                <tr>
                    <td>
                        {{ $Section }}
                    </td>
                    <td>
                        {{ .ID }}
                    </td>
                    <td>
                        {{ .Description }}
                    </td>
                    <td>
                        {{ index .TestInfo 0 }}
                    </td>
                    <td>
                        <span class='badge badge-pill badge-{{ if eq .State "PASS" }}primary{{ else if eq .State "WARN" }}warning{{ else }}danger{{ end }}'>{{ .State }}</span>
                    </td>
                </tr>
                {{- end }}
                {{- end }}
            </tbody>
        </table>
    </div>
</div>
{{ end }}
