{{ define "content" }}
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Hosts</h1>
            </div>
            <div class="col text-right">
                <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
                <span id="last_update" class="text-nowrap text-muted">
                    Not available
                </span>
            </div>
        </div>
        <hr class="margin-10px"/>
        {{ template "health_container" .Health }}
        <h5>Filters</h5>
        <div class="horizontal-container">
            <script>
                $(document).ready(function () {
                    {{- range $Key, $Value := .AppliedFilters }}
                    $("#{{ $Key }}").selectpicker("val", {{ $Value }});
                    {{- end }}
                    $('#clean').click(function () {
                        $('.selectpicker').selectpicker("deselectAll")
                    });
                });
            </script>
            <form method="GET" action="/hosts">
                <select name="trento-sap-environment" id="trento-sap-environment" class="selectpicker" multiple
                        data-selected-text-format="count > 3" data-actions-box="true" title="SAP environment...">
                    {{- range index .Filters "environments" }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{- end }}
                </select>
                <select name="trento-sap-landscape" id="trento-sap-landscape" class="selectpicker" multiple
                        data-selected-text-format="count > 3" data-actions-box="true" title="SAP landscape...">
                    {{- range index .Filters "landscapes" }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{- end }}
                </select>

                <select name="trento-sap-system" id="trento-sap-system" class="selectpicker" multiple
                        data-selected-text-format="count > 3" data-actions-box="true" title="SAP system...">
                    {{- range index .Filters "sapsystems" }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{- end }}
                </select>

                <select name="health" id="health" class="selectpicker" multiple data-selected-text-format="count > 3"
                        data-actions-box="true" title="Health status...">
                    <option data-content="<span class='badge badge-success'>Passing</span>" value="passing">Passing
                    </option>
                    <option data-content="<span class='badge badge-warning'>Warning</span>" value="warning">Warning
                    </option>
                    <option data-content="<span class='badge badge-danger'>Critical</span>" value="critical">Critical
                    </option>
                </select>
                <div class="buttons-box">
                    <button type='submit' class='btn btn-icon btn-primary' data-toggle='tooltip' title='Apply filters'>
                        Filter
                    </button>
                    <button id="clean" class='btn btn-icon btn-secondary' data-toggle='tooltip' title='Reset filters'>
                        Reset
                    </button>
                </div>
            </form>
        </div>
        {{ template "hosts_table" . }}
    </div>
{{ end }}
