{{ define "additional_scripts" }}
<script src="/static/frontend/assets/js/tables.js"></script>{{ end }}
{{ define "content" }}
    <div class="col">
        <div class="row">
            <div class="col">
                <h1>Hosts</h1>
            </div>
            <div class="col text-right">
                <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
                <span id="last_update" class="text-nowrap text-muted">
                    Not available
                </span>
            </div>
        </div>
        <hr class="margin-10px"/>
        {{ template "health_container" .HealthContainer }}
        <h5>Filters</h5>
        <div class="horizontal-container">
            <script>
                $(document).ready(function () {
                    {{- range $Key, $Value := .AppliedFilters }}
                    $("#{{ $Key }}").selectpicker("val", {{ $Value }});
                    {{- end }}
                    $('#clean').click(function () {
                        $('.selectpicker').selectpicker("deselectAll")
                    });
                });
            </script>
            <select name="trento-sap-environment" id="trento-sap-environment" class="selectpicker" multiple
                    data-selected-text-format="count > 3" data-actions-box="true" title="SAP environment...">
                {{- range index .Filters "environments" }}
                    <option value="{{ . }}">{{ . }}</option>
                {{- end }}
            </select>
            <select name="trento-sap-landscape" id="trento-sap-landscape" class="selectpicker" multiple
                    data-selected-text-format="count > 3" data-actions-box="true" title="SAP landscape...">
                {{- range index .Filters "landscapes" }}
                    <option value="{{ . }}">{{ . }}</option>
                {{- end }}
            </select>

            <select name="trento-sap-systems" id="trento-sap-systems" class="selectpicker" multiple
                    data-selected-text-format="count > 3" data-actions-box="true" title="SAP system...">
                {{- range index .Filters "sapsystems" }}
                    <option value="{{ . }}">{{ . }}</option>
                {{- end }}
            </select>

            {{ template "health_filter" }}
        </div>
        {{ template "hosts_table" . }}
        {{ template "pagination" .Pagination }}
    </div>
{{ end }}
