{{ define "content" }}
    <div class="col">
        <h1>Host details</h1>
        <h6><a href="/hosts">Hosts</a> > {{ .Host.Name }}</h6>
        <div class="row">
            <div class="col-md-6">
                <iframe src="{{ .MonitoringURL }}/d-solo/rYdddlPWj/node-exporter-full?orgId=1&refresh=1m&theme=light&panelId=77&var-agentID={{ .Host.ID }}" width="100%" height="200" frameborder="0"></iframe>
            </div>
            <div class="col-md-6">
                <iframe src="{{ .MonitoringURL }}/d-solo/rYdddlPWj/node-exporter-full?orgId=1&refresh=1m&theme=light&panelId=78&var-agentID={{ .Host.ID }}" width="100%" height="200" frameborder="0"></iframe>
            </div>
        </div>
        <div class="border-top mb-4">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row mt-5 mb-5 tn-host-details-container">
                      <div class="col-3">
                          <strong>Name:</strong><br>
                          <span class="text-muted tn-hostname">{{ .Host.Name }}</span>
                      </div>
                      <div class="col-3">
                          <strong>SAP Systems:</strong><br>
                          <span class="text-muted">
                              {{ range .Host.SAPSystems }}
                                <a href="/sapsystems/{{ .ID }}">{{ .SID }}</a>
                              {{ end }}
                          </span>
                      </div>
                      <div class="col-3">
                          <strong>Cluster:</strong><br>
                          <span class="text-muted">
                              <a href="/clusters/{{ .Host.ClusterID }}">{{ .Host.ClusterName }}</a>
                          </span>
                      </div>
                      <div class="col-3">
                          <strong>Agent version:</strong><br>
                          <span class="text-muted">{{ .Host.AgentVersion }}</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        {{- if eq .Host.CloudProvider "azure" }}
            <h1>Cloud details</h1>
            {{- $CloudData := .Host.CloudData }}
            <div class="mb-4">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row mt-5 mb-5">
                          <div class="col-3">
                              <strong>Provider:</strong><br>
                              <span class="text-muted">{{ .Host.PrettyProvider }}</span>
                          </div>
                          <div class="col-3">
                              <strong>VM Name:</strong><br>
                              <span class="text-muted">{{ $CloudData.VMName }}</span>
                          </div>
                          <div class="col-3">
                              <strong>Resource group:</strong><br>
                              <span class="text-muted">
                                {{ $CloudData.ResourceGroup }}
                              </span>
                          </div>
                          <div class="col-3">
                              <strong>Location:</strong><br>
                              <span class="text-muted">
                                {{ $CloudData.Location }}
                              </span>
                          </div>
                        </div>
                        <div class="row mt-5 mb-5">
                          <div class="col-3">
                              <strong>VM Size:</strong><br>
                              <span class="text-muted">{{ $CloudData.VMSize }}</span>
                          </div>
                          <div class="col-3">
                              <strong>Data disks number:</strong><br>
                              <span class="text-muted">
                                {{ $CloudData.DataDisksNumber }}
                              </span>
                          </div>
                          <div class="col-3">
                              <strong>Offer:</strong><br>
                              <span class="text-muted">
                                {{ $CloudData.Offer }}
                              </span>
                          </div>
                          <div class="col-3">
                              <strong>SKU:</strong><br>
                              <span class="text-muted">{{ $CloudData.SKU }}</span>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        {{- end }}
        <h1>SUSE subscription details</h1>
        <div class='table-responsive'>
            <table class='table eos-table'>
                <thead>
                <tr>
                    <th scope='col'>Identifier</th>
                    <th scope='col'>Arch</th>
                    <th scope='col'>Version</th>
                    <th scope='col'>Type</th>
                    <th scope='col'>Status</th>
                    <th scope='col'>Subscription status</th>
                    <th scope='col'>Starts at</th>
                    <th scope='col'>Expires at</th>
                </tr>
                </thead>
                <tbody>
                    {{- range .Subscriptions }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .Arch }}</td>
                            <td>{{ .Version }}</td>
                            <td>{{ .Type }}</td>
                            <td>{{ .Status }}</td>
                            <td>{{ .SubscriptionStatus }}</td>
                            <td>{{ .StartsAt }}</td>
                            <td>{{ .ExpiresAt }}</td>
                        </tr>
                    {{- else }}
                        {{ template "empty_table_body" 4}}
                    {{- end }}
                </tbody>
            </table>
        </div>
        <hr/>
        {{- if ne (len .Host.SAPSystems) 0 }}
            <p class='clearfix'></p>
            <h2>SAP instances</h2>
            {{ template "sap_instance" .Host.SAPSystems }}
            <hr/>
        {{- end }}
        <p class='clearfix'></p>
        <h2>Trento Agent status</h2>
          <div class='table-responsive'>
              <table class='table eos-table'>
                  <thead>
                  <tr>
                      <th scope='col'>Element</th>
                      <th scope='col'>Status</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Trento agent</td>
                          <td>
                            {{ if eq .Host.Health "passing" }}
                              <span class='badge badge-pill badge-primary'>running</span>
                            {{ else }}
                              <span class='badge badge-pill badge-danger'>not running</span>
                            {{ end }}
                          </td>
                      </tr>
                      {{- range $key, $state := .ExportersState }}
                      <tr>
                          <td>{{ $key }}</td>
                          <td>
                            {{ if eq $state "passing" }}
                              <span class='badge badge-pill badge-primary'>running</span>
                            {{ else if eq $state "critical" }}
                              <span class='badge badge-pill badge-danger'>not running</span>
                            {{ else }}
                              <span class='badge badge-pill badge-secondary'>unknown state</span>
                            {{ end }}
                          </td>
                      </tr>
                      {{- end }}
                  </tbody>
              </table>
          </div>
    </div>
{{ end }}
