{{ define "content" }}
    <div class="col">
        <h6><a href="/environments">Environments</a> > <a href="/environments/{{ .EnvName }}">{{ .EnvName }}</a></h6>
        <h1>Landscape details</h1>
        <dl class="inline">
            <dt class="inline">Name</dt>
            <dd class="inline">{{ .LandName }}</dd>
        </dl>
        <hr/>
        <h1>SAP Systems</h1>
        {{ template "sapsystems_table" . }}
    </div>
{{ end }}
