{{ define "additional_scripts" }}
    <script src="/static/frontend/assets/js/tables.js"></script>
{{ end }}
{{ define "content" }}
    <div class="row">
        <div class="col">
            <h1>SAP Systems</h1>
        </div>
        <div class="col text-right">
            <i class="eos-icons eos-dark eos-18 ">schedule</i> Updated at:
            <span id="last_update" class="text-nowrap text-muted">
                    Not available
                </span>
        </div>
    </div>
    <hr class="margin-10px"/>
    <h5>Filters</h5>
    <div class="horizontal-container">
        <script>
            $(document).ready(function () {
                {{- range $Key, $Value := .AppliedFilters }}
                $("#{{ $Key }}").selectpicker("val", {{ $Value }});
                {{- end }}
                $('#clean').click(function () {
                    $('.selectpicker').selectpicker("deselectAll")
                });
            });
        </script>
        {{/* {{ template "health_filter" }} */}}
        <select name="sid" id="sid" class="selectpicker" multiple
                data-selected-text-format="count > 3" data-actions-box="true" data-live-search="true" title="SID">
            {{- range .SAPSystemsTable.GetAllSIDs }}
                <option value="{{ . }}">{{ . }}</option>
            {{- end }}
        </select>
    </div>
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'>SID</th>
                <th scope='col'>Description</th>
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- range $index, $value := .SAPSystemsTable }}
                <tr>
                    <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                    <td class="row-status"><a class="eos-icons eos-18  collapse-toggle clickable collapsed text-dark"
                                              data-toggle="collapse" data-target="#inner_{{ $index }}"></a></td>
                    <td><a href="/sapsystems/{{ .SID }}?environment=default&landscape=default">{{ .SID }}</a></td>
                    <td></td>
                    <td></td>
                {{- if ne (len .InstancesTable) 0 }}
                    <tr id="inner_{{ $index }}" class="collapse">
                        <td colspan="2"></td>
                        <td colspan="3">
                            <table class='table eos-table'>
                                <thead>
                                <tr>
                                    <th scope='col'></th>
                                    <th scope='col'>SID</th>
                                    <th scope='col'>Features</th>
                                    <th scope='col'>Instance number</th>
                                    <th scope='col'>Cluster name</th>
                                    <th scope='col'>Host</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{- range .InstancesTable }}
                                    <tr>
                                        <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                                        <td>{{ .SID }}</td>
                                        <td>{{ .Features }}</td>
                                        <td>{{ .InstanceNumber }}</td>
                                        <td><a href="/clusters/{{ .ClusterId }}">{{ .ClusterName }}</a></td>
                                        <td><a href="/hosts/{{ .Host }}">{{ .Host }}</a></td>
                                    <tr>
                                {{- end }}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{- end }}
            {{- else }}
                {{ template "empty_table_body" 5 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
