{{ define "content" }}
<div class="col">
    <h1><a href="/environments">Environments</a> > <a href="/environments/{{ .EnvName }}">{{ .EnvName }}</a> > <a href="/environments/{{ .EnvName }}/landscapes/{{ .LandName }}">{{ .LandName }}</a> > {{ .SAPSysName}}</h1>
    {{ $EnvName := .EnvName }}
    {{ $LandName := .LandName }}
    {{ $Env := index .Environments .EnvName }}
    {{ $Land := index $Env.Landscapes .LandName }}
    {{ $SAPSystem := index $Land.SAPSystems .SAPSysName }}
    {{ template "hosts_table" $SAPSystem }}
{{ end }}
