@import '../node_modules/eos-ds/dist/scss/eos-base/variables/branding';

.main-menu {
  width: 280px;
  max-width: 280px !important;
}

.content {
  margin-left: 280px;
}

.mm-navigation-container header {
  color: white;
}

footer.footer-side-menu ul.footer-list {
  color: $eos-bc-gray-900;
}

// Set the same padding as info and warning
.alert-danger {
  padding-right: 8px;
}

/* ----- MODAL STYLE ----- */
.modal.left .modal-dialog {
  position: fixed;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal-content {
  border-radius: 0;
  border: none;
}

/* ----- COLLAPSE STYLE ----- */
.collapse-toggle:after {
  font-family: 'eos-icons';
  content: 'keyboard_arrow_up';
  float: right;
  font-size: 24px;
  font-weight: normal;
  display: inline;
}

.collapse-toggle.collapsed:after {
  font-family: 'eos-icons';
  content: 'keyboard_arrow_down';
  float: right;
  font-size: 24px;
  font-weight: normal;
  display: inline;
}

/* ----- TAGS STYLE ----- */
.tags-input {
  width: 300px;
  --tag-bg: #{$eos-bc-cerulean-900};
  --tag-hover: #{$eos-bc-cerulean-500};
  --tag-remove-btn-color: #fff;
  --tag-text-color: #fff;
  border: 1px solid transparent;
  cursor: pointer;
  vertical-align: middle;
}

.tagify__tag > div {
  border-radius: 4px;
  font-weight: 700;
}

.tagify__input::before {
  content: 'Add tags';
}

.tagify__tag > div > [contenteditable] {
  font-weight: normal;
}

.tagify__tag + .tagify__input {
  display: none;
}

.tags-look .tagify__dropdown__item {
  display: inline-block;
  border: 0px;
  background: $eos-bc-cerulean-900;
  margin: 0.2em;
  color: #fff;
  transition: 0s;
  border-radius: 4px;
  font-weight: 700;
}

.tags-look .tagify__dropdown__item--active {
  color: #fff;
}

.tags-look .tagify__dropdown__item:hover {
  background: $eos-bc-cerulean-500;
}

.Toastify__toast {
  background: none !important;
  box-shadow: none !important;
  color: #141823 !important;
  font-family: 'Lato', arial, helvetica, sans-serif !important;
  font-size: 14px !important;
}

.table .form-check-label .eos-checkbox ~ label::before,
.eos-checkbox ~ label::after {
  text-indent: 0;
}

.feedback-tool-button {
  background-color: #0c322c;
  color: #fff;
  position: fixed;
  top: 50%;
  right: -56px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.feedback-tool-button:hover,
.feedback-tool-button:focus {
  color: #fff;
  background-color: #0c322c;
}
