@import "../node_modules/eos-ds/dist/scss/eos-base/variables/branding";

.main-menu {
  width: 280px;
  max-width: 280px !important;
}

.content {
  margin-left: 280px;
}

.mm-navigation-container header {
  color: white;
}

footer.footer-side-menu ul.footer-list {
  color: $eos-bc-gray-900;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
