@import '../node_modules/eos-ds/dist/vendors/bootstrap/css/bootstrap';
@import '../node_modules/eos-ds/dist/scss/index';

.health-critical,
.check-state-FAIL {
  @extend .text-danger;
}

.health-warning,
.check-state-WARN {
  @extend .text-warning;
}

.health-pass,
.check-state-PASS {
  @extend .text-success;
}

tr.clickable {
  cursor: pointer;
}

.show-white-space {
  white-space: pre-wrap;
}

dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after {
  display: block;
  content: '';
}
dl.inline dt {
  display: inline-block;
  min-width: 100px;
}
dt {
  width: 30%;
}

.check-description {
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.check-remediation {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid $eos-bc-green-500;
  h1 {
    font-size: 1.35em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  code,
  pre code {
    color: $eos-bc-red-900;
  }
  pre {
    max-width: 80rem;
    max-height: 30rem;
  }
}

.nav-title {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  padding: 2px 5px;
  vertical-align: middle;
  font-size: 1.57em;
}

.container {
  padding: 75px 75px 0 75px !important;
  max-width: 100% !important;
}

.horizontal-container {
  display: flex;
  margin-bottom: 20px;
}

.health-container .alert-inline {
  width: 150px;
  margin-right: 15px;
}

.buttons-box {
  margin-left: 150px;
  display: inline-block;
}

hr.margin-10px {
  margin: 10px 0;
}

td.align-center {
  text-align: center;
}

td.row-status {
  width: 0px;
}

td i.success {
  color: $eos-bc-green-500;
}

td i.warning {
  color: $eos-bc-yellow-900;
}

td i.critical {
  color: $eos-bc-red-500;
}

.checks-results-accordion .card-body {
  background: white;
}

.collapse-toggle {
  display: inline;
  cursor: pointer;
}

.collapse-toggle:after {
  font-family: 'eos-icons';
  content: 'keyboard_arrow_up';
  float: right;
  font-size: 24px;
  font-weight: normal;
}

.collapse-toggle.collapsed:after {
  font-family: 'eos-icons';
  content: 'keyboard_arrow_down';
  float: right;
  font-size: 24px;
  font-weight: normal;
}

.cluster-settings {
  cursor: pointer;
  vertical-align: middle;
}

.card-check-selection {
  background-color: white;
  padding: 0 !important;
}

.card-header-check-selection {
  padding: 0.4rem 0 0 1.25rem;
}

.header-check-selection {
  padding-left: 0 !important;
}

.checks-table-row-group {
  cursor: pointer;
  background-color: #f2f2f2;
}

.checks-table-row-group-label {
  font-weight: bold;
  font-size: 16px;
}

.checks-filters-row {
  text-align: right;
  margin-bottom: 12px;
}

.dropdown-item.selected {
  background-color: #e4f6ee;
  border-left: 0.3rem solid #30ba78;
  padding-left: 1.2rem;
}

.toast-logo {
  width: 20px;
  height: 20px;
}

.trento-toast-body {
  font-size: 0.9rem;
  background-color: #ffffff;
  border-radius: 0 0 0.25rem 0.25rem;
}

.color-red {
  color: $eos-bc-red-500;
}

.trento-pointer {
  cursor: pointer;
}

.badge-trento-premium {
  color: #fff;
  background-color: $eos-bc-green-500;
  display: inline;
}

.align-right {
  text-align: right;
}

.margin-top-24 {
  margin-top: 24px;
}

.w-5 {
  width: 5%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.health-summary {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.health-summary-header {
  font-weight: bold;
}

.health-summary-row {
  margin-top: 14px;
  font-size: 16px;
}

.health-summary-cell {
  min-width: 200px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.health-summary-icon {
  font-size: 24px;
  width: 24px;
}

.health-summary-id {
  text-align: left;
}
