@import "../node_modules/eos-ds/dist/vendors/bootstrap/css/bootstrap";
@import "../node_modules/eos-ds/dist/scss/index";


.health-critical, .check-state-FAIL {
  @extend .text-danger
}

.health-warning, .check-state-WARN {
  @extend .text-warning
}

.health-pass, .check-state-PASS {
  @extend .text-success
}

tr.clickable {
  cursor: pointer;
}

.show-white-space {
    white-space: pre-wrap;
}

dl.inline dd {
  display: inline;
  margin: 0;
}
dl.inline dd:after{
  display: block;
  content: '';
}
dl.inline dt{
  display: inline-block;
  min-width: 100px;
}
dt {
  width: 30%;
}

.ha-check-remediation {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid $eos-bc-green-500;
  h1 {
    font-size: 1.35em;
  }
  h2 {
    font-size: 1.3em;
  }
  h3 {
    font-size: 1.25em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  code,
  pre code {
    color: $eos-bc-red-900;
  }
}

.nav-title {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  padding: 2px 5px;
  vertical-align: middle;
  font-size: 1.57em;
}

.container {
  padding: 75px 75px 0 75px !important;
  max-width: 100% !important;
}

.horizontal-container {
  display: flex;
  margin-bottom: 20px;
}

.health-container .alert-inline {
  width: 150px;
  margin-right: 15px;
}

.buttons-box {
  margin-left: 150px;
  display: inline-block;
}

hr.margin-10px {
  margin: 10px 0;
}

td.row-status {
  width: 0px;
}

td i.success {
  color: $eos-bc-green-500;
}

td i.warning {
  color: $eos-bc-yellow-900;
}

td i.critical {
  color: $eos-bc-red-500;
}
