---

- name: "{{ name }}.check"
  shell: |
    #  if azure-lb RA is not configured, then fail
    cibadmin -Q --xpath "//primitive[@type='azure-lb']/@type" || exit 1
    # if not grouped, exit with fail
    cibadmin -Q --xpath "//group/primitive[@type='azure-lb']/@type" || exit 1
    # Check that following match expected, exit with error if any do not
    [[ $(cibadmin -Q --xpath "//primitive[@type='azure-lb']/meta_attributes/nvpair [@name='resource-stickiness']" | grep -oP 'value="\K[^"]+') != "{{ expected[name + '.nvpair_resource_stickiness'] }}" ]] && exit 1
    exit 0
  check_mode: false
  register: config_updated
  changed_when: config_updated.rc != 0
  failed_when: config_updated.rc > 1

- block:
    - name: Post results
      import_role:
        name: post-results
  when:
    - ansible_check_mode
  vars:
    status: "{{ config_updated is not changed }}"
