{{ define "clusters_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>SID</th>
                <th scope='col'>Cluster name</th>
                <th scope='col'>Cluster Id</th>
                <th scope='col'>Cluster type</th>
                <th scope='col'>Nr. Hosts</th>
                <th scope='col'>Nr. Resources</th>
            </tr>
            </thead>
            <tbody>
            {{- range . }}
                <tr class='clickable' onclick="window.location='/clusters/{{ .Id }}'">
                    <td>{{ template "health_icon" .Health }}</td>
                    <td>{{- range $i, $v := .SIDs }}{{- if $i }},{{- end }} {{ . }}{{- end }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Id }}</td>
                    <td>{{ .Type }}</td>
                    <td>{{ .HostsNumber }}</td>
                    <td>{{ .ResourcesNumber }}</td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 7 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{- end }}