{{ define "clusters_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>Cluster name</th>
                <th scope='col'>Cluster Id</th>
                <th scope='col'>Cluster type</th>
                <th scope='col'>SID</th>
                <th scope='col'>Nr. Hosts</th>
                <th scope='col'>Nr. Resources</th>
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- range . }}
                <tr>
                    <td class="row-status">{{ template "health_icon" .Health }}</td>
                    <td>
                        {{- if .HasDuplicatedName }}<i class="eos-icons eos-18 text-warning" data-toggle="tooltip" data-original-title="This cluster has a duplicated name">warning</i>{{- end }}<a href="/clusters/{{ .ID }}">{{ .Name }}</a>
                    </td>
                    <td><a href="/clusters/{{ .ID }}">{{ .ID }}</a></td>
                    <td>{{ .ClusterType }}</td>
                    <td>{{ .SID }}</td>
                    <td>{{ .HostsNumber }}</td>
                    <td>{{ .ResourcesNumber }}</td>
                    <td>
                        <input class="tags-input" 
                            value="{{- range .Tags }}{{ . }},{{- end }}" 
                            data-resource-type="clusters" 
                            data-resource-id="{{ .ID }}"
                            autocomplete="off">
                        </input>
                    </td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 7 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{- end }}
