{{ define "clusters_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>Cluster name</th>
                <th scope='col'>Cluster Id</th>
                <th scope='col'>Cluster type</th>
                <th scope='col'>SID</th>
                <th scope='col'>Nr. Hosts</th>
                <th scope='col'>Nr. Resources</th>
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- range . }}
                <tr>
                    <td class="row-status">{{ template "health_icon" .Health }}</td>
                    <td><a href="/clusters/{{ .Id }}">
                        {{- if .HasDuplicatedName }}<i class="eos-icons eos-18 text-warning" data-toggle="tooltip" data-original-title="This cluster has a duplicated name">warning</i>{{- end }}{{ .Name }}
                    </td>
                    <td><a href="/clusters/{{ .Id }}">{{ .Id }}</a></td>
                    <td>{{ .Type }}</td>
                    <td>{{- range $i, $v := .SIDs }}{{- if $i }},{{- end }} {{ . }}{{- end }}</td>
                    <td>{{ .HostsNumber }}</td>
                    <td>{{ .ResourcesNumber }}</td>
                    <td>
                        <select class="tags-input form-control" multiple data-url="/api/clusters/{{ .Id }}/tags"
                                autocomplete="off">
                            {{- range .Tags }}
                                {{ . }}
                                <option value="{{ . }}" selected="selected">{{ . }}</option>
                            {{- end }}
                        </select>
                    </td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 7 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{- end }}
