{{ define "footer" }}
    <footer class="footer-content js-footer-content">
        <ul class="footer-list">
            <li class="footer-list-item">{{ template "license" }}</li>
            <li class="footer-list-item">{{ .Copyright }}</li>
        </ul>
    </footer>
{{ end }}
