{{ define "header" }}
    <head>
        <title>{{ .Title }}</title>

        <link rel="icon" type="image/svg+xml" href="/static/frontend/assets/images/favicon.svg" sizes="any">

        <link rel="stylesheet" href="/static/frontend/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/static/frontend/assets/stylesheets/bootstrap-select.min.css"/>

        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/eos-icons/eos-icons.css"/>
        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/eos-icons/eos-icons-outlined.css"/>
        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/stylesheets.css"/>

        <script src="/static/frontend/assets/js/jquery.min.js"></script>
        <script src="/static/frontend/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/static/frontend/assets/js/bootstrap-select.min.js"></script>

        <script src="/static/frontend/assets/js/eos-ds/index.js"></script>
        <script src="/static/frontend/assets/js/layout.js"></script>

        <script src="/static/frontend/assets/js/tagify.min.js"></script>
        <script src="/static/frontend/assets/js/tagify.polyfills.min.js"></script>
        <link href="/static/frontend/assets/stylesheets/tagify.css" rel="stylesheet" type="text/css" />
        {{ block "additional_scripts" . }}{{ end }}
        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/override.css"/>

        <script type="text/javascript" src="https://jira.suse.com/s/d41d8cd98f00b204e9800998ecf8427e-CDN/5676jl/813013/wx2wit/2.2.4.7/_/download/batch/com.atlassian.plugins.jquery:jquery/com.atlassian.plugins.jquery:jquery.js?collectorId=c57990d6"></script><script type="text/javascript" src="https://jira.suse.com/s/1cc7dbcd75a7b9fe36611b11654c9309-T/5676jl/813013/wx2wit/4.0.4/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=c57990d6"></script>

    </head>
{{ end }}
