{{ define "header" }}
<head>
  <title>{{ .Title }}</title>
  <link rel="icon" type="image/svg+xml" href="static/frontend/assets/images/favicon.svg" sizes="any">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/frontend/assets/stylesheets/stylesheets.css" />
  <link rel="stylesheet" type="text/css" href="static/frontend/assets/stylesheets/override.css" />
  <link rel="stylesheet" type="text/css" href="static/frontend/assets/stylesheets/eos-icons/eos-icons.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="static/frontend/assets/js/eos-ds/index.js"></script>
  <script src="static/frontend/assets/js/layout.js"></script>
</head>
{{ end }}
