{{ define "header" }}
    <head>
        <title>{{ .Title }}</title>

        <link rel="icon" type="image/svg+xml" href="/static/frontend/assets/images/favicon.svg" sizes="any">

        <link rel="stylesheet" href="/static/frontend/assets/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/static/frontend/assets/stylesheets/bootstrap-select.min.css"/>

        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/eos-icons/eos-icons.css"/>
        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/stylesheets.css"/>

        <script src="/static/frontend/assets/js/jquery.min.js"></script>
        <script src="/static/frontend/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/static/frontend/assets/js/bootstrap-select.min.js"></script>

        <script src="/static/frontend/assets/js/eos-ds/index.js"></script>
        <script src="/static/frontend/assets/js/layout.js"></script>

        <script src="/static/frontend/assets/js/tagify.min.js"></script>
        <script src="/static/frontend/assets/js/tagify.polyfills.min.js"></script>
        <link href="/static/frontend/assets/stylesheets/tagify.css" rel="stylesheet" type="text/css" />
        {{ block "additional_scripts" . }}{{ end }}
        <link rel="stylesheet" type="text/css" href="/static/frontend/assets/stylesheets/override.css"/>
    </head>
{{ end }}
