{{ define "health_container" }}
    <h5>Health</h5>
    <div class="health-container{{ if eq .Layout "horizontal" }} horizontal-container{{ end }}">
        <div class="alert alert-inline alert-success health-passing">
            <i class="eos-icons-outlined eos-18 alert-icon">check_circle</i>
            <div class="alert-body">Passing</div>
            <span class='badge badge-secondary'>{{ .PassingCount }}<span></div>
        <div class="alert alert-inline alert-warning health-warning">
            <i class="eos-icons-outlined eos-18 alert-icon">warning</i>
            <div class="alert-body">Warning</div>
            <span class='badge badge-secondary'>{{ .WarningCount }}<span></div>
        <div class="alert alert-inline alert-danger health-critical">
            <i class="eos-icons-outlined eos-18 alert-icon">error</i>
            <div class="alert-body">Critical</div>
            <span class='badge badge-secondary'>{{ .CriticalCount }}<span></div>
    </div>
{{ end }}
