{{ define "hosts_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>Name</th>
                <th scope='col'>Address</th>
                <th scope='col'>Cloud provider</th>
                <th scope='col'>Cluster</th>
                <th scope='col'>System</th>
            </tr>
            </thead>
            <tbody>
            {{- range . }}
                {{ $TrentoMeta := .TrentoMeta }}
                <tr>
                    <td class="row-status">
                        {{ template "health_icon" .Health }}
                    </td>
                    <td>
                        <a href='/hosts/{{ .Name }}'>
                            {{ .Name }}
                        </a>
                    </td>
                    <td>{{ .Address }}</td>
                    <td>{{ index .TrentoMeta "trento-cloud-provider" }}</td>
                    <td>
                        <a href='/clusters/{{ index .TrentoMeta "trento-ha-cluster-id" }}'>
                            {{ index .TrentoMeta "trento-ha-cluster" }}
                        </a>
                    </td>
                    <td>
                        {{- range $i, $v := split (index $TrentoMeta "trento-sap-systems") "," }}{{- if $i }},{{- end }}
                        <a href="/sapsystems/{{ $v }}">
                            {{ $v }}
                        </a>
                        {{- end }}
                    </td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 5}}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
