{{ define "hosts_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'>Name</th>
                <th scope='col'>Address</th>
                <th scope='col'>Cloud provider</th>
                <th scope='col'>Cluster</th>
                <th scope='col'>System</th>
                <th scope='col'>Landscape</th>
                <th scope='col'>Environment</th>
            </tr>
            </thead>
            <tbody>
            {{- range .Hosts }}
                <tr>
                    <td class="row-status">
                        <i class="eos-icons eos-18 {{ if eq .Health "passing" }} success">check_circle{{ else if eq .Health "warning" }} warning">warning{{ else }} critical">error{{ end }}</i>
                    </td>
                    <td>
                        <a href='/hosts/{{ .Name }}'>
                            {{ .Name }}
                        </a>
                    </td>
                    <td>{{ .Address }}</td>
                    <td>{{ index .TrentoMeta "trento-cloud-provider" }}</td>
                    <td>
                        <a href='/clusters/{{ index .TrentoMeta "trento-ha-cluster-id" }}'>
                            {{ index .TrentoMeta "trento-ha-cluster" }}
                        </a>
                    </td>
                    <td>
                        <a href='/sapsystems/{{ index .TrentoMeta "trento-sap-system" }}?environment={{ index .TrentoMeta "trento-sap-environment" }}&landscape={{ index .TrentoMeta "trento-sap-landscape" }}'>
                            {{ index .TrentoMeta "trento-sap-system" }}
                        </a>
                    </td>
                    <td>
                        <a href='/landscapes/{{ index .TrentoMeta "trento-sap-landscape" }}?environment={{ index .TrentoMeta "trento-sap-environment" }}'>
                            {{ index .TrentoMeta "trento-sap-landscape" }}
                        </a>
                    </td>
                    <td>
                        <a href='/environments/{{ index .TrentoMeta "trento-sap-environment" }}'>
                            {{ index .TrentoMeta "trento-sap-environment" }}
                        </a>
                    </td>
                </tr>
            {{- else }}
                {{ template "empty_table_body" 5}}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
