{{ define "landscapes_table" }}
    <table class='table eos-table'>
        <thead>
        <tr>
            <th scope='col'>Landscape</th>
            <th scope='col'>Environment</th>
            <th scope='col'>SAP systems number</th>
            <th scope='col'>Hosts number</th>
            <th scope='col'>Status</th>
        </tr>
        </thead>
        <tbody>
        {{- if .EnvName }}
            {{ $EnvName := .EnvName }}
            {{ $Env := index .Environments .EnvName }}
            {{ template "landscapes_row" $Env }}
        {{- else }}
            {{- range .Environments }}
                {{ template "landscapes_row" . }}
            {{- else }}
                {{ template "empty_table_body" 5}}
            {{- end }}
        {{- end }}
        </tbody>
    </table>
{{ end }}
