{{- define "license" -}}
    This tool is <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank" rel="noopener noreferrer">free
        software</a> released under the <a href="https://raw.githubusercontent.com/trento-project/trento/main/LICENSE"
                                           target="_blank" rel="noopener noreferrer">Apache License, Version 2.0</a>
{{- end -}}
