{{ define "sap_system_layout" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'>Hostname</th>
                <th scope='col'>Instance</th>
                <th scope='col'>Features</th>
                <th scope='col'>Http port</th>
                <th scope='col'>Https port</th>
                <th scope='col'>Start priority</th>
                <th scope='col'>Status</th>
            </tr>
            </thead>
            <tbody>
              {{- range .Instances }}
                  {{- range .SAPControl.Instances }}
                      <tr>
                          <td>{{ .Hostname }}</td>
                          <td>{{ .InstanceNr }}</td>
                          <td>{{ .Features }}</td>
                          <td>{{ .HttpPort }}</td>
                          <td>{{ .HttpsPort }}</td>
                          <td>{{ .StartPriority }}</td>
                          <td>
                              <span class='badge badge-pill badge-{{ if eq .Dispstatus "SAPControl-GREEN" }}primary{{ else if eq .Dispstatus "SAPControl-YELLOW" }}warning{{ else if eq .Dispstatus "SAPControl-GRAY" }}secondary{{ else }}danger{{ end }}'>{{ .Dispstatus }}</span>
                          </td>
                      </tr>
                  {{- end }}
              {{- else }}
                  {{ template "empty_table_body" 7}}
              {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
