{{ define "sap_systems_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'>SID</th>
                <th scope='col'>Description</th>
                {{- if eq .Type "application" }}
                    <th scope='col'>Attached RDBMS</th>
                    <th scope='col'>Tenant</th>
                    <th scope='col'>DB address</th>
                {{- end }}
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- range $index, $value := .SAPSystems }}
                <tr>
                <td class="row-status">{{ template "health_icon" .Health }}</td>
                <td class="row-status"><a class="eos-icons eos-18  collapse-toggle clickable collapsed text-dark"
                                          data-toggle="collapse" data-target="#inner_{{ $index }}"></a></td>
                <td>
                    {{- if .HasDuplicatedSID }}
                        <i class="eos-icons eos-18 text-info" data-toggle="tooltip" data-original-title="This SAP system SID exists multiple times">info</i>
                    {{- end }}
                    <a href="/{{- if eq .Type "database" }}databases{{- else }}sapsystems{{- end }}/{{ .ID }}">{{ .SID }}</a>
                </td>
                <td></td>
                {{- if eq .Type "application" }}
                    <td>{{- if $value.AttachedDatabase }}<a href="/databases/{{ $value.AttachedDatabase.ID }}">{{ $value.AttachedDatabase.SID }}</a>{{- end }}</td>
                    <td>{{ $value.DBName }}</td>
                    <td>{{ $value.DBHost }}</td>
                {{- end }}
                <td>
                    <input class="tags-input"
                        value="{{- range .Tags }}{{ . }},{{- end }}"
                        data-resource-type="{{- if eq .Type "application" }}sapsystems{{- else }}databases{{- end }}"
                        data-resource-id="{{ .ID }}"
                        autocomplete="off">
                    </input>
                </td>
                {{- if ne (len .Instances) 0 }}
                    <tr id="inner_{{ $index }}" class="collapse">
                        <td colspan="2"></td>
                        <td colspan="{{ if eq .Type "database" }}3{{ else }}6{{ end }}">
                            <table class='table eos-table'>
                                <thead>
                                <tr>
                                    <th scope='col'></th>
                                    <th scope='col'>SID</th>
                                    <th scope='col'>Features</th>
                                    <th scope='col'>Instance number</th>
                                    <th scope='col'>System replication</th>
                                    <th scope='col'>Cluster name</th>
                                    <th scope='col'>Host</th>
                                </tr>
                                </thead>
                                <tbody id='instances-{{ .ID }}'>
                                {{- range .GetAllInstances }}
                                <tr>
                                    <td class="row-status">{{ template "health_icon" .Health }}</td>
                                    <td>{{ .SID }}</td>
                                    <td>{{ .Features }}</td>
                                    <td>{{ .InstanceNumber }}</td>
                                    {{- if eq .Type "database" }}
                                        {{- if .SystemReplication }}
                                            <td>HANA {{ .SystemReplication }}
                                            {{- if eq .SystemReplication "Secondary" }}
                                                <span class="badge badge-pill badge-{{ if eq .SystemReplicationStatus "SOK" }}success{{ else }}danger{{ end }}">{{ .SystemReplicationStatus }}</span>
                                            {{- end }}
                                            </td>
                                        {{- else }}
                                            <td></td>
                                        {{- end }}
                                    {{- else }}
                                        <td></td>
                                    {{- end }}
                                    <td>
                                    {{- if ne .ClusterType "Unknown" }}
                                        <a href="/clusters/{{ .ClusterID }}">{{ .ClusterName }}</a>
                                    {{- else }}
                                        {{ .ClusterName }}
                                    {{- end }}
                                    </td>
                                    <td><a href="/hosts/{{ .HostID }}">{{ .Hostname }}</a></td>
                                </tr>
                                {{- end }}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{- end }}
                </tr>
            {{- else }}
                {{ template "empty_table_body" 5 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
