{{ define "sap_instance" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>SID</th>
                <th scope='col'>Type</th>
                <th scope='col'>Features</th>
                <th scope='col'>InstanceNumber</th>
            </tr>
            </thead>
            <tbody>
            {{- range $Key, $SAPSystem := . }}
            {{- range .Instances }}
                <tr>
                    <td>{{ $SAPSystem.ID }}</td>
                    <td>{{ $SAPSystem.SID }}</td>
                    <td>{{ $SAPSystem.Type }}</td>
                    <td>{{ .Features }}</td>
                    <td>{{ .InstanceNumber }}</td>
                </tr>
            {{- end  }}
            {{- else }}
                {{ template "empty_table_body" 5}}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
