{{ define "sapsystems_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'>SID</th>
                <th scope='col'>Description</th>
                {{- if eq .ResourcePath "sapsystems" }}
                <th scope='col'>Attached RDBMS</th>
                <th scope='col'>Tenant</th>
                <th scope='col'>DB address</th>
                {{- end }}
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- $resource := .ResourcePath }}
            {{- range $index, $value := .SAPSystemsTable }}
                <tr>
                <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                <td class="row-status"><a class="eos-icons eos-18  collapse-toggle clickable collapsed text-dark"
                                          data-toggle="collapse" data-target="#inner_{{ $index }}"></a></td>
                <td>{{- if .HasDuplicatedSid }}<i class="eos-icons eos-18 text-info" data-toggle="tooltip" data-original-title="This SAP system SID exists multiple times">info</i>{{- end }}<a href="/{{ $resource }}/{{ .Id }}">{{ .SID }}</a></td>
                <td></td>
                {{- if eq $resource "sapsystems" }}
                <td><a href="/databases/{{ $value.AttachedDatabaseId }}">{{ $value.AttachedDatabaseSID }}</a></td>
                <td>{{ $value.Profile.dbs.hdb.dbname }}</td>
                <td>{{ $value.Profile.SAPDBHOST }}</td>
                {{- end }}
                <td>
                    <input class="tags-input"
                        value="{{- range .Tags }}{{ . }},{{- end }}"
                        data-resource-type="{{ $resource }}"
                        data-resource-id="{{ .Id }}"
                        autocomplete="off">
                    </input>
                </td>
                {{- if ne (len .InstancesTable) 0 }}
                    <tr id="inner_{{ $index }}" class="collapse">
                        <td colspan="2"></td>
                        <td colspan="{{ if eq $resource "sapsystems" }}6{{ else }}3{{ end }}">
                            <table class='table eos-table'>
                                <thead>
                                <tr>
                                    <th scope='col'></th>
                                    <th scope='col'>SID</th>
                                    <th scope='col'>Features</th>
                                    <th scope='col'>Instance number</th>
                                    <th scope='col'>System replication</th>
                                    <th scope='col'>Cluster name</th>
                                    <th scope='col'>Host</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{- range .InstancesTable }}
                                <tr>
                                    <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                                    <td>{{ .SID }}</td>
                                    <td>{{ .Features }}</td>
                                    <td>{{ .InstanceNumber }}</td>
                                    {{- if .IsDatabase }}
                                    {{- $mode := .SystemReplication.GetReplicationMode }}
                                    {{- if ne $mode "" }}
                                    <td>HANA {{ $mode }}
                                    {{- else }}
                                    <td></td>
                                    {{- end }}
                                    {{- if eq $mode "Primary" }}
                                    {{- $status := .SystemReplication.GetReplicationStatus }}
                                    <span class="badge badge-pill badge-{{ if eq $status "SOK" }}success{{ else }}danger{{ end }}">{{ $status }}</span>
                                    {{- end }}
                                    </td>
                                    {{- else }}
                                    <td></td>
                                    {{- end }}
                                    <td><a href="/clusters/{{ .ClusterId }}">{{ .ClusterName }}</a></td>
                                    <td><a href="/hosts/{{ .Host }}">{{ .Host }}</a></td>
                                <tr>
                                    {{- end }}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{- end }}
            {{- else }}
                {{ template "empty_table_body" 5 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
