{{ define "sapsystems_table" }}
    <div class='table-responsive'>
        <table class='table eos-table'>
            <thead>
            <tr>
                <th scope='col'></th>
                <th scope='col'></th>
                <th scope='col'>SID</th>
                <th scope='col'>Description</th>
                <th scope='col'>Tags</th>
            </tr>
            </thead>
            <tbody>
            {{- range $index, $value := . }}
                <tr>
                <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                <td class="row-status"><a class="eos-icons eos-18  collapse-toggle clickable collapsed text-dark"
                                          data-toggle="collapse" data-target="#inner_{{ $index }}"></a></td>
                <td><a href="/sapsystems/{{ .SID }}">{{ .SID }}</a></td>
                <td></td>
                <td>
                    <input class="tags-input" 
                        value="{{- range .Tags }}{{ . }},{{- end }}" 
                        data-resource-type="sapsystems" 
                        data-resource-id="{{ .SID }}"
                        autocomplete="off">
                    </input>
                </td>
                {{- if ne (len .InstancesTable) 0 }}
                    <tr id="inner_{{ $index }}" class="collapse">
                        <td colspan="2"></td>
                        <td colspan="3">
                            <table class='table eos-table'>
                                <thead>
                                <tr>
                                    <th scope='col'></th>
                                    <th scope='col'>SID</th>
                                    <th scope='col'>Features</th>
                                    <th scope='col'>Instance number</th>
                                    <th scope='col'>Cluster name</th>
                                    <th scope='col'>Host</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{- range .InstancesTable }}
                                <tr>
                                    <td class="row-status">{{ template "health_icon" "unknown" }}</td>
                                    <td>{{ .SID }}</td>
                                    <td>{{ .Features }}</td>
                                    <td>{{ .InstanceNumber }}</td>
                                    <td><a href="/clusters/{{ .ClusterId }}">{{ .ClusterName }}</a></td>
                                    <td><a href="/hosts/{{ .Host }}">{{ .Host }}</a></td>
                                <tr>
                                    {{- end }}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{- end }}
            {{- else }}
                {{ template "empty_table_body" 5 }}
            {{- end }}
            </tbody>
        </table>
    </div>
{{ end }}
