{{ define "sbd" }}

    <div class="card-deck mt-4 mb-4">
        {{- range .Devices }}
            <div class="card">
                <div class="card-body">
                    <strong>Device name:</strong> {{ .Device }}<br>
                    <strong>Location:</strong> -
                </div>
            </div>
        {{- end }}
    </div>
{{ end }}
