{{ define "sidebar" }}
    <aside class="main-menu js-main-menu">
        <div class="mm-navigation-container">
            <header>
                <div class="hide-collapsed">
                    <img src="/static/frontend/assets/images/trento-icon.png" alt="logo" width="32"/>
                    <span class="nav-title">trento</span>
                </div>
                <div class="mm-navitation-close js-sidebar-toggle">
                    <i class="eos-icons js-sidebar-tooltip js-tooltip" data-placement="bottom"
                       data-original-title="Collapse menu">menu</i>
                </div>
            </header>
            <div class="nav-wrap">
                <ul class="menu-togglable no-list-style">
                    <li class="menu-item">
                        <div class="menu-element">
                            <a class="main-collapsed-single" href="/">Home</a>
                        </div>
                        <a class="menu-title js-select-current-parent js-feature-flag" href="/">
                            <i class="eos-icons-outlined">home</i>
                            <span class="menu-title-content">Home</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <div class="menu-element">
                            <a class="main-collapsed-single" href="/hosts">Hosts</a>
                        </div>
                        <a class="menu-title js-select-current-parent js-feature-flag" href="/hosts">
                            <i class='eos-icons-outlined'>desktop_windows</i>
                            <span class="menu-title-content">Hosts</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <div class="menu-element">
                            <a class="main-collapsed-single" href="/clusters">Pacemaker Clusters</a>
                        </div>
                        <a class="menu-title js-select-current-parent js-feature-flag" href="/clusters">
                            <i class='eos-icons-outlined'>collocation</i>
                            <span class="menu-title-content">Pacemaker Clusters</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <div class="menu-element">
                            <a class="main-collapsed-single" href="/sapsystems">SAP Systems</a>
                        </div>
                        <a class="menu-title js-select-current-parent js-feature-flag" href="/sapsystems">
                            <i class='eos-icons-outlined'>system_group</i>
                            <span class="menu-title-content">SAP Systems</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <div class="menu-element">
                            <a class="main-collapsed-single" href="/databases">HANA Databases</a>
                        </div>
                        <a class="menu-title js-select-current-parent js-feature-flag" href="/databases">
                            <i class='eos-icons-outlined'>storage</i>
                            <span class="menu-title-content">HANA Databases</span>
                        </a>
                    </li>
                    <li class="menu-item menu-dropdown">
                        <input class="js-dropdown-toggle" id="checks-toggle" type="checkbox">
                        <label class="menu-title" for="checks-toggle">
                            <i class="eos-icons-outlined">settings</i>
                            <span class="menu-title-content">Settings</span>
                            <i class="eos-icons-outlined eos-18 float-right menu-expand">keyboard_arrow_down</i>
                        </label>
                        <ul class="menu-dropdown-list menu-element">
                            <li class="menu-collapsed-title">Settings</li>
                            <li>
                                <a class="menu-title js-select-current-parent js-feature-flag" href="/catalog">
                                    <i class='eos-icons-outlined'>list</i>
                                    Checks catalog
                                </a>
                            </li>
                            <li>
                                <a class="menu-title js-select-current-parent js-feature-flag" href="/about">
                                    <i class='eos-icons-outlined'>info</i>
                                    About
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <footer class="footer-side-menu">
            <ul class="footer-list">
                <li class="footer-list-item">
                    <i class="eos-icons" title="" data-html="true" data-toggle="tooltip"
                       data-title="{{ escapedTemplate "license" . }}" data-trigger="hover click">assignment</i>
                </li>
                <li class="footer-list-item">
                    <i class="eos-icons" title="" data-html="true" data-toggle="tooltip"
                       data-title="Trento v{{.Version }}<br>{{ .Copyright }}"
                       data-trigger="hover click">info</i>
                </li>
            </ul>
        </footer>
    </aside>
{{ end }}
