{{ define "sites" }}
    {{- range $site, $nodes := .}}
        <div class="card eos-table-card mb-4">
            <div class="card-header">
                <span class="eos-table-card-title">{{ $site }}</span>
            </div>
            <div class="table-responsive">
                <table class="table eos-table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hostname</th>
                        <th scope="col">IP</th>
                        <th scope="col">Virtual IP</th>
                        <th scope="col">Role</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range $nodes}}
                        <tr>
                            <td>
                                {{ template "health_icon" .Health }}
                            </td>
                            <td>
                                {{ .Name }}
                            </td>
                            <td>
                                {{ .Ip }}
                            </td>
                            <td>
                                {{- range $i, $v := .VirtualIps }}{{- if $i }} ,{{- end }}{{ . }}{{- end }}
                            </td>
                            <td>
                                <span class="badge badge-pill badge-info">HANA {{ .HANARole }}</span>
                                <span class="badge badge-pill badge-info">HANA {{ .HANAStatus }}</span>
                            </td>

                            <td class="float-right">
                                <button class="btn btn-secondary btn-sm" data-toggle="modal"
                                        data-target="#{{ .Name }}Modal">
                                    Details
                                </button>
                            </td>
                        </tr>
                    {{- end }}
                    </tbody>
                </table>
            </div>
        </div>
    {{- end }}
{{ end  }}