{{ define "sites" }}
    {{- range $site, $nodes := .}}
        <div class="card eos-table-card mb-4">
            <div class="card-header">
                <span class="eos-table-card-title">{{ $site }}</span>
            </div>
            <div class="table-responsive">
                <table class="table eos-table">
                    <thead>
                    <tr>
                        <th scope="col" class="w-5"></th>
                        <th scope="col" class="w-20">Hostname</th>
                        <th scope="col" class="w-30">IP</th>
                        <th scope="col" class="w-20">Virtual IP</th>
                        <th scope="col" class="w-20">Role</th>
                        <th scope="col" class="w-5"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {{- range $nodes}}
                        <tr>
                            <td class="w-5">
                                {{ template "health_icon" .Health }}
                            </td>
                            <td class="w-20">
                                <a href='/hosts/{{ .HostID }}'>
                                    {{ .Name }}
                                </a>
                            </td>
                            <td class="w-30">
                                {{- range $i, $v := .IPAddresses }}{{- if $i }} ,{{- end }}{{ . }}{{- end }}
                            </td>
                            <td class="w-20">
                                {{- range $i, $v := .VirtualIPs }}{{- if $i }} ,{{- end }}{{ . }}{{- end }}
                            </td>
                            <td>
                                {{ $badgeClass := "badge-info" }}
                                {{- if eq .HANAStatus "Failed" }}
                                    {{ $badgeClass = "badge-danger" }}
                                {{- else if eq .HANAStatus "Unknown" }}
                                    {{ $badgeClass = "badge-secondary" }}
                                {{- end }}
                                <span class="badge badge-pill {{ $badgeClass }}">HANA {{ .HANAStatus }}</span>
                            </td>
                            <td class="w-5">
                                <button class="btn btn-secondary btn-sm" data-toggle="modal"
                                        data-target="#{{ .Name }}Modal">
                                    Details
                                </button>
                            </td>
                        </tr>
                    {{- end }}
                    </tbody>
                </table>
            </div>
        </div>
    {{- end }}
{{ end  }}
