{{ define "submenu" }}
<div class="submenu js-submenu-section">
  <nav class="main-submenu js-submenu-make-visible" data-parent-menu="">
    <a class="submenu-item js-select-current" href="/">Home</a>
  </nav>
</div>
{{ end }}
