{{ define "version" }}
    <a href="https://github.com/trento-project/trento/releases/tag/{{ .Version }}" target="_blank"
       rel="noopener noreferrer">Trento-{{ .Flavor }} v{{ .Version }}</a>
{{ end }}